.adminBlock {
  display: block;
  padding-top: 10vh;
  height: 80%;
  padding-bottom: 10vh;
  padding-top: 10vh;
  overflow-y: scroll;
}

.adminGrid {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.adminGridItemB {
  grid-column: 2 / 3
}