.SessionContainer {
    background-color: lightgray;
    height: auto;
    margin: 0px;
    display: grid;
    grid-template-columns: 5% 90% 5%
}

.GridCentered {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: white;
}

h1 {
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
    width: 100%;
}

li {
    list-style-type: none;
}


.ExerciseGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
}

.GridItemID {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-bottom: 15px;
}

.GridItemName {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-bottom: 15px;
}

.GridItemSelect {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 5px;
}

.GridItemRemove {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 5px;
}

.GridItemNotes {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 5px;
}