.App {
  text-align: center;
  height: 100vh;
}

/*https://stackoverflow.com/questions/14123999/center-a-div-horizontally-and-vertically*/
.loader {
  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;  
}

.white {
  color: white
}